body {
    font-family: 'Montserrat', sans-serif;
}

.orange {
    color: #f15134;
}

.text-shadow {
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.bg-orange {
    background-color: #f15134;
}

.bg-dark-transparent {
    background-color: #151414d1;
}

.alert-register {
    font-size: 0.7em;
    color: #f15134;
    margin: 0;
    padding: 0;
}

.alert-register .close {
    font-size: 1.3em;
    color: #f15134;
    margin: 0;
    padding: 0;
}

.alert-message {
    font-size: 1em;
    color: #f15134;
    margin: 0;
    padding: 0;
}

.alert-message .close {
    font-size: 1.5em;
    color: #f15134;
    margin: 0;
    padding: 0;
    text-shadow: none;
}


/* header */

header {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(../images/easyfiles_banner.jpg) no-repeat center center / cover;
    background-attachment: fixed;
    /* min-height: 700px; */
}


/* navbar */

.nav-menu {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
    padding: 30px;
    transition: all 0.7s;
}

.menu-item {
    font-size: 13px;
    letter-spacing: 1px;
    color: #eee;
    transition: color 0.5s;
}

.menu-item:hover {
    color: #70aed2;
}

.nav-active {
    color: #70aed2;
}

.line1,
.line2,
.line3 {
    width: 23px;
    height: 3px;
    margin: 5px;
    transition: all 0.4s;
}

.change .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.change .line2 {
    opacity: 0;
}

.change .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.custom-navbar {
    padding: 5px 30px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7));
}


/* end of navbar */


/* banner */

header .home-inner {
    padding-top: 150px;
}

.home-inner h1 {
    font-weight: 200;
}

.home-inner .fa-check {
    color: #fff;
    background: #f15134;
    padding: 5px;
    border-radius: 5px;
}


/* form register, login & form-animation */


/* Change Autocomplete styles in Chrome*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-animation: autofill 0s forwards;
    animation: autofill 0s forwards;
}

@keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
    }
}

@-webkit-keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
    }
}


/*  end of Change Autocomplete styles in Chrome*/

.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.banner-heading {
    animation-name: anim;
    animation-duration: 1s;
}

.banner-par {
    animation-name: anim2;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-fill-mode: backwards;
}

@keyframes anim {
    0% {
        transform: translateX(-25px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes anim2 {
    0% {
        transform: translateX(25px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.cardform {
    box-shadow: 0px 0px 69px 0px rgba(0, 0, 0, 0.75);
}

#form_register input {
    color: #2b90b8;
    background: transparent;
    border-color: transparent;
    border-bottom: 2px solid #3d3d3d;
    border-radius: 0;
    transition: all 0.8s;
}

#form_register select {
    background: transparent;
    border-color: transparent;
    border-bottom: 2px solid #3d3d3d;
    border-radius: 0;
    transition: all 0.8s;
}

#form_register select:focus {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    border-bottom: 2px solid #f5593d;
}

#form_register input:focus {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    border-bottom: 2px solid #f5593d;
}


/* end of form register,login & form animation */


/* end of header */


/* mission */

.mission {
    background: #151f20;
}

.underline {
    width: 150px;
    border: 3px solid #eee;
    margin: auto;
}

.fromLeft {
    animation-name: fromLeft;
    animation-duration: 3s;
}

.fromRight {
    animation-name: fromRight;
    animation-duration: 3s;
}

@keyframes fromLeft {
    0% {
        transform: translateX(-120px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fromRight {
    0% {
        transform: translateX(30px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


/* end of mission */


/* collection */

.card-shadow {
    box-shadow: 5px 8px 20px #444;
}

.heading {
    position: absolute;
    top: 70%;
    right: 0;
    font-size: 14px;
    letter-spacing: 1px;
    background: #222;
    width: 70%;
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.5s;
}

.heading:hover {
    opacity: 1;
}


/* end of collection */


/* gallery */

.underline-dark {
    width: 150px;
    border-bottom: 6px solid #888;
    margin: auto;
}

.gallery-list-item {
    color: #777;
    cursor: pointer;
    user-select: none;
}

.active-item {
    color: #70aed2;
}


/* end of gallery */


/* customers */

.customers {
    background: #151f20;
}


/* end of customers */


/* pricing */

.card-1,
.card-2,
.card-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(images/pricing-card-bg.jpeg) center no-repeat / cover;
    box-shadow: 7px 18px 50px #555;
    max-width: 400px;
}

.card-list-item {
    border-bottom: 1px groove #eee;
    width: 55%;
    margin: auto;
}

.price-card-button {
    background: #f5593d;
    width: 130px;
    border-radius: 25px;
    box-shadow: 5px 8px 18px #000;
    transition: all 0.2s;
}

.price-card-button:hover {
    background: #f9793d;
    transform: translateY(-2px);
}

.moveFromLeft {
    animation-name: moveFromLeft;
    animation-duration: 2s;
}

.moveFromRight {
    animation-name: moveFromRight;
    animation-duration: 2s;
}

.moveFromBottom {
    animation-name: moveFromBottom;
    animation-duration: 2s;
}

@keyframes moveFromLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveFromRight {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveFromBottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


/*  end of pricing */


/* contact */

.contact {
    background: linear-gradient( 105deg, rgba(21, 31, 32, 1) 0%, rgba(21, 31, 32, 0.95) 50%, transparent 50%), url(../images/contact.jpg) center center no-repeat / cover;
}

.input {
    background: transparent;
    border-color: transparent;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    transition: all 0.8s;
}

.input:focus {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    color: #fff;
    border-bottom: 2px solid #f5593d;
}

.submit-button {
    background: #f5593d;
    color: #eee;
    transition: all 0.3s;
}

.submit-button:hover {
    background: #f9793d;
    transform: translateY(-3px);
}

.label {
    color: #777;
    display: block;
    margin-top: -70px;
    margin-left: 4px;
    font-size: 13px;
    transition: all 0.3s;
}

.input:placeholder-shown+.label {
    transform: translate(20px, 20px);
    opacity: 0;
    visibility: hidden;
}

@media (max-width: 992px) {
    .contact {
        background: linear-gradient(rgba(21, 31, 32, 1), rgba(21, 31, 32, 0.95));
    }
    .contact-form {
        width: 80%;
        margin: auto;
    }
}


/* end of contact */


/* footer */

.footer-link {
    color: #eee;
    font-size: 13px;
    transition: all 0.3s;
}

.footer-link:hover {
    color: #70aed2;
    text-decoration: none;
}


/* resetpassword modal */

.modal-content.resetpass {
    background-color: #ffffffde;
    color: orangered;
}

.dashbd-client {
    margin-top: 50px;
    /* height: 100vh; */
}

.zeroheading {
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.zero {
    line-height: 2em;
    font-size: 1.5em;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}